*{
    font-family: 'Righteous', cursive;;
    background-color: #087F8C;
}

#topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
    border: 5px solid #095256;
    background-color: #5AAA95;
    border-radius: 2vw;
}

#topnav li{
    float: left;
}

#topnav li a{
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    float: left;
    font-size: 16px;
    background-color: #5AAA95;
}

body{
    margin: 1vw;
}

a{
    background-color: #5AAA95;
}

a:link{
    color: black;
}

a:visited{
    color: #095256;
}

a:hover{
    color: #087F8C;
}

a:active{
    color:#86A873;
}

#container{
    margin-top: 3vh;
    background-color: #5AAA95;
    border: 5px solid #095256;
    border-radius: 5vw;
    padding-bottom: 5vh;
}

section, h1{
    background-color: #5AAA95;
    margin-left:3vw;
    margin-right:3vw;
}

h1{
    font-size: 60px;
}

h2{
    background-color: #5AAA95;
}

label {
    display: flex;
    flex-direction: column;
    background-color: #5AAA95;
    font-size: 20px;
}

form{
    background-color: #5AAA95;
}

input{
    background-color: white;
}

.submit{
    background-color: #BB9F06;
    border: 2px solid #095256;
    border-radius: 1vw;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10%;
}

.submit:hover {
    background-color: #087F8C;
}

.submit:active {
    background-color: #5AAA95;
    box-shadow: 0px 10px 3px #095256;
    transform: translate(3px);
}

input{
    width: 40%;
    padding: 10px;
    border: 3px solid #095256;
    border-radius: 3vw;
}

