*{
    font-family: 'Righteous', cursive;;
    background-color: #087F8C;
}

#topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
    border: 5px solid #095256;
    background-color: #5AAA95;
    border-radius: 2vw;
}

#topnav li{
    float: left;
}

#topnav li a{
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    float: left;
    font-size: 16px;
    background-color: #5AAA95;
}

body{
    margin: 1vw;
}

.results{
    background-color: white;
    position: relative;
    height: 180px;
    width: 150px;
    float: left;
    border:1px solid black;
    border-radius: 10px;
    padding:5px;
    margin-bottom:10px;
    margin-right: 1.5vw;
    transition: transform .3s;
    background-color: #86A873;
    border: 2px solid #095256;
    border-radius: 1vw;

}

.results span{
    background-color: #86A873;
    padding-top: 1.3vh;
    font-size:15px;
    display:flex;
    flex-direction: column;
}
.results:hover{
     transform: scale(2); 
     box-shadow: -5px 10px 3px #095256;
     z-index: 10;
}

section{
  display: flex;
  flex-direction: column;
  background-color: #5AAA95;
}

.editButton{
  position:absolute;
  bottom: 0;
  margin-bottom: 5px;
}

.deleteButton{
  position:absolute;
  bottom: 0;
  margin-bottom: 5px;
  margin-left: 50px;
}

#container{
    margin-top: 3vh;
    background-color: #5AAA95;
    border: 5px solid #095256;
    border-radius: 5vw;
    padding-bottom: 5vh;
}

section, h1{
    background-color: #5AAA95;
    margin-left:3vw;
    margin-right:3vw;
}

#expenses{
    background-color: #5AAA95;
}

h1{
    font-size: 60px;
}

button{
    background-color: #BB9F06;
    border: 2px solid #095256;
    border-radius: 1vw;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background-color: #087F8C;
}

button:active {
    background-color: #5AAA95;
    box-shadow: 0px 10px 3px #095256;
    transform: translate(3px);
}

a{
    background-color: #5AAA95;
}

a:link{
    color: black;
}

a:visited{
    color: #095256;
}

a:hover{
    color: #087F8C;
}

a:active{
    color:#86A873;
}

