*{
    font-family: 'Righteous', cursive;;
    background-color: #087F8C;
}

#topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    width: 100%;
    position: sticky;
    top: 0;
    border: 5px solid #095256;
    background-color: #5AAA95;
    border-radius: 2vw;
}

#topnav li{
    float: left;
}

#topnav li a{
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    float: left;
    font-size: 16px;
    background-color: #5AAA95;
}

body{
    margin: 1vw;
}

a{
    background-color: #5AAA95;
}

a:link{
    color: black;
}

a:visited{
    color: #095256;
}

a:hover{
    color: #087F8C;
}

a:active{
    color:#86A873;
}

#container{
    margin-top: 1vh;
    background-color: #5AAA95;
    border: 5px solid #095256;
    border-radius: 5vw;
    padding-bottom: 3vh;
}

h1, p{
    background-color: #5AAA95;
}

h1{
    font-size: 60px; 
    margin-left: 32vw;
    margin-right: 32vw;
}

p{
    font-size: 40px;
    margin-left: 34vw;
    margin-right: 34vw;
}

#home{
    margin-left: 38vw;
    margin-right: 38vw;
}

img {
    background-color: #5AAA95;
    margin-left: 34vw;
    margin-right: 34vw;
}
